<html>
  <head>
    <title>json formatter</title>
  </head>
  <body>
    <h1>json formatter</h1>
    <h2>input</h2>
    <form action="/" method="post">
      <label for="json">json:</label>
      <textarea name="in" cols=80 rows=24 autofocus>{{ in }}</textarea>
      <input type="submit">
    </form>
    <h2>output</h2>
    <textarea cols=80 rows=24>{{ out }}</textarea>
  </body>
</html>
{# vim:set ts=2 sw=2 sts=2 et: #}
