<html>
  <head>
    <title>JSON Formatter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
    <style type="text/css">
      <!--
      textarea.json {font-family: monospace;}
      select.inline {display: inline;}
      -->
    </style>
  </head>
  <body>
    <h1>JSON Formatter</h1>
    <h2>Input</h2>
    <form action="/" method="post">
      <label>{{ form.enable_sort_keys }} Sort keys</label> /
      <label>{{ form.enable_indent }} Indent</label> /
      <label>Indent Width: {{ form.indent_width(class_='inline') }}</label> /
      <label>{{ form.enable_compact }} Compact</label> /
      <label>{{ form.enable_json_only }} JSON only</label>
      {{ form.input_json(class_='json', rows=10, cols=80) }}
      <input type="submit">
    </form>
    <h2>Output</h2>
    {{ form.output_json(class_='json', rows=10, cols=80) }}
    <footer>
      <a href="https://github.com/kumarstack55/python-json-formatter">GitHub</a>
    </footer>
  </body>
</html>
{# vim:set ts=2 sw=2 sts=2 et: #}
